.select,
::picker(select) {
    appearance: base-select;
}

.select {
    flex-direction: row-reverse;
    gap: 1rem !important;
}

::picker(select) {
    margin-top: 1px;
    background-color: inherit;
    border-color: var(--color-stone-600);
}

select::picker-icon {
    content: "ᯤ";
}

.select {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.select:focus-visible,
.select:hover {
    background-color: var(--color-stone-900);
}

.select:active,
.select:open {
    background-color: var(--color-stone-950);
    outline: 1px solid var(--color-stone-400);
}

.select option {
    padding: 1rem;
    background-color: var(--color-stone-600);
    color: var(--color-gray-50);
    outline: none;
}

.select option:focus,
.select option:hover {
    border-width: 1px;
    border-color: var(--color-stone-400);
    background-color: var(--color-stone-500);
}
